<h1>Explore Our Products</h1>
<div *ngIf="products.length === 0">
  <p>Whoops, we don't have any products available right now.</p>
  <p class="small">Is the API Server started?</p>
  <pre>
    cd ShoppingCart.Api\ShoppingCart.Api\
    dotnet run
  </pre>
</div>
<div class="card mb-3" style="max-width: 540px;" *ngFor="let product of products">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{{product.imageUrl}}" class="card-img" alt="{{product.name}}">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <p>{{product.description}}</p>
        <p class="card-text">{{product.price | currency}}</p>
        <select #quantity>
          <option *ngFor="let option of quantityOptions" [value]="option">{{option}}</option>
        </select>
        <button (click)="addToCart(product, quantity.value);">Add to Cart</button>

      </div>
    </div>
  </div>
  <div class="alert alert-success" role="alert" *ngIf="productAdded?.id === product.id">
    Added {{quantity.value}} {{product.name}} to your <a routerLink="/cart">Cart</a>.
  </div>
</div>